@model ErrorViewModel
@{
    ViewData["Title"] = "Åtkomst nekad";
}

<!--Om en användare skickas till access denied och inte har åtkomst till en sida visas den här informationen med en länk tillbaka till startsidan-->
<h1 class="text-danger text-center m-5">Åtkomst nekad</h1>
<h2 class="text-danger text-center w-50 mx-auto mb-5">Din användarroll har inte behörighet att visa detta innehåll</h2>

<a class="nav-link text-dark showBooksBtn" asp-area="" asp-controller="Home" asp-action="Index">Tillbaka till startsidan</a>
