@model ErrorViewModel
@{
    ViewData["Title"] = "Åtkomst nekad";
}

<h1 class="text-danger">Åtkomst nekad</h1>
<h2 class="text-danger">Din användarroll är inte behörig att visa detta innehåll</h2>

<a class="nav-link text-dark showBooksBtn" asp-area="" asp-controller="Home" asp-action="Index">Tillbaka till startsidan</a>
