@model BookClub.Models.AuthorModel

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center p-4">Radera författare</h1>

<h3 class="text-center">Är du säker på att du vill radera författaren?</h3>
<div class="authorBlock">
    <hr />
    <dl class="row">
        <span class="material-symbols-outlined" id="personImg">article_person</span>
        <h4 class="text-center">@Model.Name</h4>
        <h4 class="text-center">@Model.Country</h4>
        <div>
        <button class="showAuthorInfo" data-bs-toggle="collapse" data-bs-target="#authorDescription">Visa information <span class="material-symbols-outlined align-middle">keyboard_arrow_down</span></button>
            <p class="collapse authorDescription" id="authorDescription">@Model.Description</p>
        </div>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Radera" class="delete deleteSiteBtn" /> |
        <a asp-action="Index" class="editBack">Visa alla författare</a>
    </form>
</div>
