@model BookClub.Models.DiscussionModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center m-5">Delta i diskussionen</h1>

<hr />
<div class="row form">
    <div class="col-md-4 formContent">
        <form asp-action="Create">
            <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Titel:</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label">Kommentar:</label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChapterModelId" class="control-label">Kapitel:</label>
                <select asp-for="ChapterModelId" class ="form-control" asp-items="ViewBag.ChapterModelId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Skapa" class="update updateEdit" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
