@model BookClub.Models.DiscussionModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center m-5">Uppdatera ett inlägg</h1>
<!--Sida för att uppdatera ett diskussionsinlägg-->

<hr />
<div class="row form">
    <div class="col-md-4 formContent">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--Id, användarens id och användarens användarnamn skickas med i formuläret som dolda-->
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="UserName" />
            <!--Länk till föregående sida skickas med-->
            <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />
            <!--Formulär för titel, innehåll och kapitel-->
            <div class="form-group">
                <label asp-for="Title" class="control-label">Titel:</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label">Kommentar:</label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChapterModelId" class="control-label">Kapitel:</label>
                <select asp-for="ChapterModelId" class="form-control" asp-items="ViewBag.ChapterModelId"></select>
                <span asp-validation-for="ChapterModelId" class="text-danger"></span>
            </div>
            <div class="form-group mb-5">
            <!--Knapp för att uppdatera inlägg-->
                <input type="submit" value="Uppdatera" class="update updateEdit" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
