@model BookClub.Models.BookModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center mt-5 mb-3">Skapa en ny bok</h1>
<h5 class="w-50 text-center d-block mx-auto">Lägg till information om en bok, dess kapitel eller en författare</h5>
<hr />
<div class="row form">
    <div class="col-md-4 formContent">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Titel:</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label">Utgivningsår:</label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Beskrivning:</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label">Bild-URL:</label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorModelId" class="control-label">Författare:</label>
                <select asp-for="AuthorModelId" class ="form-control" asp-items="ViewBag.AuthorModelId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Skapa" class="update updateEdit" />
            </div>
        </form>
    </div>
</div>

<div class="editBack">
    <a asp-action="Index">Visa alla böcker</a>
</div>

<div class="mb-5 mt-5">
    <h3 class="text-center">Lägg till kapitel för boken</h3>
    <a class="update updateEdit mx-auto addBookBtn mt-3 p-2" asp-area="" asp-controller="Chapter" asp-action="Create">Lägg till kapitel</a>
    <a class="editBack mx-auto addBookBtn mt-3 p-2" asp-area="" asp-controller="Chapter" asp-action="Index">Visa alla kapitel</a>
</div>

<div class="mb-5 mt-5">
    <h3 class="text-center">Lägg till en ny författare</h3>
    <a class="update updateEdit mx-auto addBookBtn mt-3 p-2" asp-area="" asp-controller="Author" asp-action="Create">Skapa en ny författarprofil</a>
    <a class="editBack mx-auto addBookBtn mt-3 p-2" asp-area="" asp-controller="Author" asp-action="Index">Visa alla författare</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
