@model BookClub.Models.BookModel

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center p-4">Radera bok</h1>

<h3 class="text-center">Är du säker på att du vill radera boken?</h3>
<div class="deleteSite">
    <hr />
    <dl class="row">
        <img class="mb-5 mt-5" src="@Model.Image" />
        <h4 class="text-center">@Model.Title</h4>
        <h4 class="text-center">@Model.Author.Name</h4>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Radera" class="delete deleteSiteBtn" /> |
        <a asp-action="Index" class="editBack">Visa alla böcker</a>
    </form>
</div>
