body {
  width: 100%;
  background-color: #fffcf6;
}

.introImg {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.bookOfMonth {
  background-color: #FCEADB;
  margin-top: 0px;
}

a {
  color: #724540;
  text-underline-offset: 5px;
}

.questions {
  background-color: #DBB09F;
}

.questions h3 {
  color: #724540;
}

.oneQuestion {
  background-color: #FCEADB;
  border-radius: 20px;
}

.questionList {
    display: grid;
  grid-template-columns: repeat(3, 3fr);
}

.topBooks {
      display: grid;
  grid-template-columns: repeat(3, 3fr);
}

.currentBookImg {
  width: 230px;
}

.topBooksImg {
  width: 220px;
}

.oneTopBook {
  display: block;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
}

.delete{
  text-decoration: none;
  border: 2px solid #bd7e7e;
  background-color: #FCEADB;
  width: 110px;
  margin: 0 auto;
  border-radius: 20px; 
  display: block;
  color: black;
  padding: 5px;
  margin-left: 5px;
}

.delete:hover {
 background-color: #bd7e7e; 
}

.update{
  text-decoration: none;
  border: 2px solid #e6c07b;
  background-color: #FCEADB;
  width: 110px;
  margin: 0 auto;
  border-radius: 20px; 
  display: block;
  color: black;
  padding: 5px;
  margin-right: 5px;
}

.update:hover {
  background-color: #e6c07b;;
}

.showInfo, .takePartDiscussion, .takePartReview{
  text-decoration: none;
  border: 2px solid #8B6457;
  background-color: #FCEADB;
  width: 160px;
  margin: 0 auto;
  border-radius: 20px; 
  display: block;
  color: black;
  padding: 5px;
}

.showInfo:hover {
  background-color: #DBB09F;
}

.takePartDiscussion, .takePartReview {
  width: 190px;
  padding: 7px;
}

.takePartDiscussion {
  background-color: #FCEADB;
}

.takePartDiscussion:hover {
  background-color: #DBB09F;
}

.takePartReview {
  background-color: #FCEADB;
  border: 2px solid #8B6457;
}

.takePartReview:hover {
  background-color: #DBB09F;
}

.updateOneBook, .showInfoOneBook {
  width: 190px;
  text-align: center;
  margin: 0 auto;
  background-color: transparent;
}

.updateDiscussion, .deleteDiscussion {
  width: 40px;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  background-color: transparent; 
}

.oneBookButtons {
  width: 400px;
display: block;
margin: 0 auto;
margin-top: 50px;
}

.discussionButtons {
  width: 100px;
  display: flex;
  margin-left: auto;
}



.showBooksBtn {
  text-align: center;
  padding: 10px;
  border: 2px solid #8B6457;
  width: 150px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #FCEADB;
  margin-bottom: 20px;
  color: black;
  text-decoration: none;
}

.showBooksBtn:hover {
  background-color: #DBB09F;
}

.bookDisplayImg {
  width: 200px;
}


.bookList {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  text-align: center;
}

h1, h2, h3 {
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
}

h4, h5, h6, p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;  
}

.oneBook {
  background-color: #FCEADB;
  border: 2px solid #8B6457;
  border-radius: 20px;
  margin: 20px;
  padding: 30px;
}

.oneBook img {
  margin: 10px;
  margin-bottom: 20px;
  border: 10px solid #fffbf3;
}

.descriptionView {
  background-color: #DBB09F;
  border-radius: 20px;;
}

.descriptionViewIndex {
    background-color: #DBB09F;
  border-radius: 20px;
  padding: 20px;
}

.oneComment {
  background-color: #FCEADB;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  margin-bottom: 40px;
}

.chapterBlock {
  background-color: #DBB09F;
  border: 2px solid #8B6457;
  margin: 20px;
  border-radius: 20px;
  padding-bottom: 20px;
   max-width: 700px;
   width: 80%;
}

.chapterBlock h4{
  padding: 20px;
}

.chapterBlock h4:hover {
cursor: pointer;

}

.chapterBlock a {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.oneReview {
  margin: 20px;
  padding: 20px;
  background-color: #FCEADB;
  border-radius: 10px;
}

.reviewBlock {
  background-color: #DBB09F;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 50px;
   border-radius: 20px;
   max-width: 700px;
   width: 80%;
}

.oneBookImg {
  background-color: #fffbf3;
  padding: 50px;
  padding-top: 10px;
  padding-bottom: 80px;

}

.oneBookImg Img {
  width: 200px;
}

.form {
  display: block;
  margin: 0 auto;
  width: 450px;
}

.form label{
margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal; 
}

.form-group {
  margin-top: 15px;
}

.formContent {
  width: 100%;
}

.updateEdit {
margin-left: 0px;
background-color: transparent;
border: 2px solid #C18468;
}

.updateEdit:hover {
  background-color: #C18468;
}

.editBack {
  display: block;
  margin: 0 auto;
  width: 200px;
  margin-top: 40px;
  margin-bottom: 50px;
  text-align: center;
}

.deleteSite img {
  width: 200px;
  display: block;
  margin: 0 auto;
}

.deleteSiteBtn {
  display: block;
  margin: 0 auto;
  background-color: transparent;
}

.addBookBtn {
  width: 200px;
  padding: 5px;
  text-align: center;
}

.authorDescription {
  max-width: 550px;
  width: 90%;
  display: block;
  margin: 0 auto;
}

.authorDetails {
  max-width: 800px;
  margin: 0 auto;
}

.showAuthorInfo {
  display: block;
  margin: 0 auto;
  border: none;
  background-color: transparent;
}

.authorBlock {
  background-color: #FCEADB;
  padding-bottom: 40px;
  margin-bottom: 50px;
}

.authorBlock img {
  width: 200px;
  margin: 0 auto;
}

#personImg {
  font-size: 180px;
  text-align: center;
}

#personImgIndex {
    font-size: 100px;
  text-align: center;
}

#authorDescription {
  background-color: #FCEADB;
  padding: 20px;
  border-radius: 10px;;
}

.authorProfile {
  background-color: #DBB09F;
  border: 2px solid #8B6457;
  border-radius: 20px;
  width: 500px;
  padding: 20px;
  margin: 30px;
}

.allAuthors {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.updateText, .deleteText {
  text-decoration: none;
  border: 1px solid rgb(95, 93, 93);
  padding: 5px;
  border-radius: 10px;
}

.deleteText {
  background-color: #d3a5a5;
  color: black;
}

.updateText {
  background-color: #e6cbb9;
  color: black;
  margin-right: 10px;
}

.updateText:hover {
  background-color: #c48c67;
}

.deleteText:hover {
  background-color: #bd7e7e;;
}

.chapterTable table {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.chapterTable th, .chapterTable td {
  padding: 20px;
}

.deleteImg {
  width: 200px;
  margin-bottom: 20px;
}

footer {
  background-color: #DBB09F;
  padding: 10px;
}

nav li {
  margin-right: 10px;
}

nav li:hover {
  background-color: #FCEADB;
  border-radius: 10px;
}

.bookDetails {
  width: 75%;
}

.aiResponse {
  max-width: 400px;
}

.navbar-brand {
  width: 70px;

  img {
    width: 55px;
    margin-left: 15px;
  }
}

/*Anpassningar till olika skärmstorlekar*/
@media (max-width: 800px) {
  .bookList {
  grid-template-columns: repeat(1, 1fr);
}
}

@media(min-width:1200px) {
  .bookList {
    width: 1100px;
    margin: 0 auto;
  }

  .bookDetails {
    width: 700px;
  }
}



