body {
  width: 100%;
  background-color: #fffcf6;
}

.introImg {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.bookOfMonth {
  background-color: rgb(248, 244, 210);
  margin-top: 0px;
}

a {
  color: #74795f;
  text-underline-offset: 5px;
}

.questions {
  background-color: #b6baa1;
}

.questions h3 {
  color: #797e63;
}

.oneQuestion {
  background-color: #fffcf6;
  border-radius: 20px;
}

.questionList {
    display: grid;
  grid-template-columns: repeat(3, 3fr);
}

.topBooks {
      display: grid;
  grid-template-columns: repeat(3, 3fr);
}

.currentBookImg {
  width: 230px;
}

.topBooksImg {
  width: 170px;
}

.oneTopBook {
  display: block;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
}

.delete{
  text-decoration: none;
  border: 2px solid #bd7e7e;
  background-color: rgb(248, 244, 210);
  width: 110px;
  margin: 0 auto;
  border-radius: 20px; 
  display: block;
  color: black;
  padding: 5px;
  margin-left: 5px;
}

.delete:hover {
 background-color: #bd7e7e; 
}

.update{
  text-decoration: none;
  border: 2px solid #e6c07b;
  background-color: rgb(248, 244, 210);
  width: 110px;
  margin: 0 auto;
  border-radius: 20px; 
  display: block;
  color: black;
  padding: 5px;
  margin-right: 5px;
}

.update:hover {
  background-color: #e6c07b;;
}

.showInfo, .takePartDiscussion, .takePartReview{
  text-decoration: none;
  border: 2px solid #b6baa1;
  background-color: rgb(248, 244, 210);
  width: 160px;
  margin: 0 auto;
  border-radius: 20px; 
  display: block;
  color: black;
  padding: 5px;
}

.showInfo:hover {
  background-color: #b6baa1;
}

.takePartDiscussion, .takePartReview {
  width: 190px;
  padding: 7px;
}

.takePartDiscussion {
  background-color: #fcfbe3;
  border: 2px solid #e2dc9a;
}

.takePartDiscussion:hover {
  background-color: #f8f4d2;
}

.takePartReview {
  background-color: #dce0c7;
  border: 2px solid #9aa07a
}

.takePartReview:hover {
  background-color: #b6baa1
}

.updateOneBook, .showInfoOneBook {
  width: 190px;
  text-align: center;
  margin: 0 auto;
  background-color: transparent;
}

.updateDiscussion, .deleteDiscussion {
  width: 40px;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  background-color: transparent; 
}

.oneBookButtons {
  width: 400px;
display: block;
margin: 0 auto;
margin-top: 50px;
}

.discussionButtons {
  width: 100px;
  display: flex;
  margin-left: auto;
}



.showBooksBtn {
  text-align: center;
  padding: 10px;
  border: 2px solid #6c7059;
  width: 150px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #b6baa1;
  margin-bottom: 20px;
  color: black;
  text-decoration: none;
}

.showBooksBtn:hover {
  background-color: #e0e4cf;
}

.bookDisplayImg {
  width: 200px;
}


.bookList {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  text-align: center;
}

h1, h2, h3 {
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
}

h4, h5, h6, p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;  
}

.oneBook {
  background-color: rgb(248, 244, 210);
  margin: 20px;
  padding: 30px;
}

.oneBook img {
  margin: 10px;
  margin-bottom: 20px;
  border: 10px solid #fcfbef;
}

.descriptionView {
  background-color: #fcfbe3;
  border-radius: 20px;;
}

.oneComment {
  background-color: #fcfbe3;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  margin-bottom: 40px;
}

.chapterBlock {
  background-color: #f8f4d2;
  padding: 20px;
  margin: 20px;
}

.chapterBlock h4{
  padding: 20px;
}

.chapterBlock h4:hover {
cursor: pointer;

}

.chapterBlock a {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.oneReview {
  margin: 20px;
  padding: 20px;
  background-color: #dce0c7;
  border-radius: 10px;
}

.reviewBlock {
  background-color: #b6baa1;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 50px;
}

.oneBookImg {
  background-color: #f8f4d2;
  padding: 50px;
  padding-top: 10px;
  padding-bottom: 80px;

}

.oneBookImg Img {
  width: 200px;
}

.form {
  display: block;
  margin: 0 auto;
  width: 450px;
}

.form label{
margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal; 
}

.form-group {
  margin-top: 15px;
}

.formContent {
  width: 100%;
}

.updateEdit {
margin-left: 0px;
background-color: transparent;
border: 2px solid #f0df94;
}

.updateEdit:hover {
  background-color: #f8f4d2;
}

.editBack {
  display: block;
  margin: 0 auto;
  width: 200px;
  margin-top: 40px;
  margin-bottom: 50px;
  text-align: center;
}

.deleteSite img {
  width: 200px;
  display: block;
  margin: 0 auto;
}

.deleteSiteBtn {
  display: block;
  margin: 0 auto;
  background-color: transparent;
}

.addBookBtn {
  width: 200px;
  padding: 5px;
  text-align: center;
}

.authorDescription {
  width: 450px;
  display: block;
  margin: 0 auto;
}

.showAuthorInfo {
  display: block;
  margin: 0 auto;
  border: none;
  background-color: transparent;
}

.authorBlock {
  background-color: #f8f4d2;
  padding-bottom: 40px;
  margin-bottom: 50px;
}

.authorBlock img {
  width: 200px;
  margin: 0 auto;
}

#personImg {
  font-size: 180px;
  text-align: center;
}

#authorDescription {
  background-color: #fcfbe3;
  padding: 20px;
  border-radius: 10px;;
}
